.Site-header {
  /*margin-top:50px !important;*/
}
footer {
	z-index: 0 !important;
}

.body-margin-top {
	margin-top: 90px;
}

.contact_hidden {
	visibility: hidden;
}

.contact_move_up {
	margin-top: -75px;

#milestone-section {
	background: #fff;
}
.give-back-strip {
	padding-top: 10px;
	background-color: #e4e4e4;
}
.milestone {
	margin: 110px 0 90px 0;
}
